<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1035672345422-2pll2o6vrclnkdn89fj3ol9f3i6mg7r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035672345422-2pll2o6vrclnkdn89fj3ol9f3i6mg7r9</string>
	<key>API_KEY</key>
	<string>AIzaSyDf-40WTRO_gGeZzDLEZ9l6CA6AIV9635M</string>
	<key>GCM_SENDER_ID</key>
	<string>1035672345422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TestFirebaseRN</string>
	<key>PROJECT_ID</key>
	<string>testreactnativeios-20bb7</string>
	<key>STORAGE_BUCKET</key>
	<string>testreactnativeios-20bb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035672345422:ios:1d5573b7561a7c39</string>
	<key>DATABASE_URL</key>
	<string>https://testreactnativeios-20bb7.firebaseio.com</string>
</dict>
</plist>